body {
	background-color: black;
	background-color: $very-pale-blue;

	&::after {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		background: rgb(80, 80, 80);
		background: url("../../images/bg-pattern.svg") no-repeat;
		background-size: 100% 60%; //play with it so that the perfect design is achieved
	}
}
.container {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
	z-index: 2;

	section {
		padding: 50px 30px;
		margin-bottom: 50px;
		background-size: contain;
		background: url("../../images/pattern-circles.svg") no-repeat center;
		background-size: contain;

		h1 {
			font-weight: 700;
			font-size: 1.5rem;
			text-align: center;
			color: $dark-unsaturated-blue;
		}
		p {
			text-align: center;
			color: $grayish-blue;
			letter-spacing: 1px;
		}
		p:first-of-type {
			margin-top: 15px;
		}
	}
}

main {
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: $white;
	border-radius: 48px;
	background: linear-gradient(145deg, #e1e2e667, #ffffff);
	box-shadow: 30px 30px 59px #d0d0d4, -30px -30px 59px #ffffff;

	.first-section {
		padding: 0 20px;
		p {
			text-align: center;
			color: $grayish-blue;
			font-weight: 700;
			padding: 20px 0;

			&:last-of-type span {
				display: inline-block;
				color: $dark-unsaturated-blue;
				font-size: 2.2rem;
				position: relative;
				transform: translateY(6px);
			}
		}
		.billing {
			margin: 30px auto;
			padding: 10px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 400px;
			
			> span {
				color: $grayish-blue;
				font-size: 0.85rem;
				text-align: center;
				width: fit-content;
			}
			> span:last-of-type {
				color: $light-red;
				background-color: $light-grayish-red;
				font-size: 0.8rem;
				border-radius: 10px;
				padding: 3px 4px;
			}

			.billing-input {
				width: 50px;
				height: 25px;
				position: relative;
				input {
					width: 100%;
					height: 100%;
					background: $light-grayish-blue;
					border-radius: 20px;
					transition: 0.5s;

					&:hover {
						cursor: pointer;
					}
					&::before {
						content: "";
						position: absolute;
						left: 5px;
						top: 5px;
						width: 15px;
						height: 15px;
						border-radius: 50%;
						background: $white;
						transition: 0.5s;
						pointer-events: none;
					}
					&:checked {
						background: $strong-cyan;

						&::before {
							transform: translateX(25px);
						}
					}
				}
			}
		}
	}

	.second-section {
		padding: 20px;
		border-top: 1px solid $light-grayish-blue;

		.info {
			p {
				text-align: center;
				color: $grayish-blue;
				font-size: 0.85rem;
				width: fit-content;
				margin: 10px auto;
				padding: 5px 0;
				position: relative;

				&::before {
					content: " ";
					display: inline-block;
					width: 13.5px;
					height: 12px;
					background: url("../../images/icon-check.svg");
					background-size: cover;
					position: absolute;
					left: -25px;
					top: 6px;
				}
			}
		}

		button {
			display: block;
			width: 220px;
			border: none;
			margin: 25px auto 0;
			padding: 12px 55px;
			background-color: $dark-unsaturated-blue;
			color: $pale-blue;
			border-radius: 20px;
			transition: 0.5s;

			&:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}
}

.input {
	position: relative;
	margin-top: 10px;
}
main .first-section .input > {
	//Several styles need to be applied to range inputs in all browsers to override their basic appearance.
	//Note that while we’re repeating code here, that’s necessary as you can’t comma-separate these type of selectors. Browsers will drop the entire selector if it doesn’t understand a part of it.

	//RESET CSS STYLE
	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		background: transparent; /* Otherwise white in Chrome */
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
	}

	input[type="range"]:focus {
		outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
	}

	//STYLE THE THUMB
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 36px;
		width: 36px;
		margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		border-radius: 50%;
		background: $strong-cyan url("../../images/icon-slider.svg") no-repeat center;
		box-shadow: 0px 10px 30px $strong-cyan;
		cursor: pointer;
		transition: 0.5s ease-in-out;
		transform-origin: center;
		position: relative;
		z-index: 5;
		&:hover {
			background-color: hsl(174, 85%, 34%);
			box-shadow: 0px 10px 20px hsl(174, 85%, 34%);
		}
	}

	//STYLE THE TRACK
	input[type="range"]::-webkit-slider-runnable-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: $light-grayish-white;
		border-radius: 10px;
	}
	input[type="range"]:focus::-webkit-slider-runnable-track {
		outline: 1px solid black;
		outline-offset: 5px;
	}
	input[type="range"]:focus:not(:focus-visible)::-webkit-slider-runnable-track {
		outline: none;
	}

	//PROGRESS BAR
	#progressBar {
		display: inline-block;
		content: " ";
		width: 50%;
		height: 11px;
		border-radius: 10px;
		background-color: $soft-cyan;
		position: absolute;
		left: 0px;
		top: 3px;
		pointer-events: none;
	}

	input[type="range"]:focus #progressBar {
		background-color: $strong-cyan;
	}
}
